@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Ubuntu",sans-serif;
}

body
{
    background-color: #DDF2FD;
    color: #9BBEC8;
}

.cabecalhoLinks
{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.divCabecalho
{
    display: flex;
    border-radius: 25px;
    background-color: #EEF7FF;
    align-items: center;
    flex-direction: column;
    width: 40vh;
    margin: 0vh 0vh 5vh 30vh;
}

.divLinks
{
    display: flex;
    border-radius: 25px;
    background-color: #EEF7FF;
    align-items: center;
    flex-direction: column;
    width: 40vh;
    margin: 0vh 30vh 5vh 0vh;
}

.divCabecalho select,input
{
    border-style: none;
    border-radius: 10px;
    width: 20vh;
    height: 2vh;
}

.divLinks select,input
{
    border-style: none;
    border-radius: 10px;
    width: 20vh;
    height: 2vh;
}

.gerarCodigo
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.gerarCodigo button
{
    color: #83a7b1;
    width: 15vh;
    height: 3vh;
    background-color: #cfdfee;
    border-style: none;
    border-radius: 10px;
}

.gerarCodigo button:hover
{
    background-color: #becfdf;
}

.caixasCodigos
{
    display: flex;
    justify-content: space-around;
}

.caixaCodigo textarea
{
    border-radius: 15px;
    padding: 10px;
}

.caixaCodigo button
{
    color: #83a7b1;
    width: 15vh;
    height: 3vh;
    background-color: #cfdfee;
    border-style: none;
    border-radius: 10px;
}

.caixaCodigo button:hover
{
    background-color: #becfdf;
}

.inputs
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

.inputs input
{
    width: 50px; 
}

.inputs p 
{
    padding-bottom: 15px;
}
